/* ==========================================================================
   Carousel slides
   ========================================================================== */

.carousel-caption-inner {
	padding: 15px;
	color: $bargd-fg;
	font-size: $font-size-large;
	h3 {
		font-size: 21px;
		text-transform: uppercase;
		&:before, &:after { content: '·'; }
	}
}
.carousel-caption {
	padding-bottom: 40px;
	text-shadow: none;
}
.carousel-caption-bg {
	background-color: $brand-primary-transparent;
}
.carousel-caption-sides {
	&:before, &:after {
		width: 0px;
		height: 0px;
		border-top: {
			color: $brand-primary-transparent;
			style: solid;
		}
		border-bottom: {
			color: $brand-primary-transparent;
			style: solid;
		}
		content: '';
		position: absolute;
		top: 20px;
	}
	&:before {
		border-left: 30px solid transparent;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		left: -30px;
	}
	&:after {
		border-right: 30px solid transparent;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		right: -30px;
	}
}
