/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	margin-top: 18px;
	#epi-menu { padding: 10px 0 0 0; }
	#epi-meta {
		text-align: center;
		padding-bottom: 10px;
		.space { padding-bottom: 36px;}
		a {
			color: inherit; text-decoration: underline;
			&:hover { text-decoration: none; }
		}
	}
}
