/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	position: sticky;
	position: -webkit-sticky;
	z-index: 2030;
	top: 0;
	#pre {
		.container {
			height: 122px;
			background: {
				repeat: no-repeat;
				position: center center;
				image: url(assets/images/header.bg.png);
			}
		}
	}
	.brand {
		max-width: 397px;
		width: 100%;
		height: 86px;
		margin: 11px auto;
		a {
			display: block;
			line-height: 86px;
		}
	}
}
