/* ==========================================================================
   Menus
   ========================================================================== */

.navbar-nav {
	text-transform: uppercase;
	font-weight: 700;
}
.navbar-center {
	float: none;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}
.site-header {
	.navbar-collapse {
		padding: 0;
	}
	.nav {
		li {
			a {
				padding: 10px 0;
				margin-right: 30px;
				line-height: $font-base-size;
			}
		}
	}
	.navbar-fixed-top {
		z-index: 2030;
	}
	.form-control {
		height: auto;
		padding: 0 10px;
		margin: 7px 0;
	}
}
.post-type-archive-new,
.single-new {
	.menu-blog {
		color: $active-color;
		text-decoration: underline;
	}
}
.site-footer {
	.navbar {
		margin-bottom: 10px;
		.navbar-collapse { margin-left: -30px; }
	}
}
