/* ==========================================================================
   Menus
   ========================================================================== */

.navbar-nav {
	text-transform: uppercase;
	font-weight: 700;
}
.site-header {
	.navbar-collapse {
		padding: 0;
	}
	.nav {
		li {
			a {
				padding: 10px 0;
				margin-right: 30px;
				line-height: $font-base-size;
			}
		}
	}
	.navbar-fixed-top {
		z-index: 2030;
	}
	.form-control {
		height: auto;
		padding: 0 10px;
		margin: 7px 0;
	}
}
.post-type-archive-activity,
.single-activity,
.post-type-archive-download,
.single-download,
.post-type-archive-new,
.single-new {
	.menu-blog {
		color: $active-color;
		text-decoration: underline;
	}
}
.single-garden {
	.menu-garden {
		color: $active-color;
		text-decoration: underline;
	}
}
.site-footer {
	.navbar {
		margin-bottom: 10px;
		font-weight: 700;
		.navbar-collapse { margin-left: -30px; }
		.navbar-brand { font-size: inherit; font-weight: normal; }
	}
}
