/* ==========================================================================
   Single posts
   ========================================================================== */

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

.aligncenter {
	display: block;
	margin-right: auto;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	display: block;
	margin-left: auto;
}
.wp-audio-shortcode { margin-bottom: 1em; }

.single-new {
	.entry-title {
		font: {
			family: 'Lato',sans-serif;
			weight: 700;
			size: 20px;
		}
		line-height: 1.1em;
		text-transform: uppercase;
	}
	.entry-subtitle {
		@include sec-tit(14px,underline,0,14px);
	}
	.entry-content {
		margin-bottom: 9px;
	}
	.entry-footer {
		margin-top: 20px;
	}
	.entry-meta {
		margin-bottom: 1em;
		a { font-weight: 700; }
		.updated-on { font-style: italic; }
	}
}
