/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Colors
$brand-primary: #21403f;
$brand-primary-transparent: rgba(33,64,63,0.6);
$body-bg: #b3be98;
$text-color: $brand-primary;
$link-color: $brand-primary;
$link-hover-color: #070e0d;
$active-color: $link-hover-color;
// @gray-dark
$bargd-bg: #3c5e5e;
// @gray-light @navbar-default-bg
$bargd-fg: #dcd6a3;
$bargl-bg: #e5dfa9;

// Sizes
$font-base-size: 13px;
$font-size-large: 13 * 1.25px;
